*.ok
*~
archives/
sources/
m68k-atari-mint-binutils-gdb-binutils-?_??-mintelf-cross/
fdlibm-master/
preliminary/
m68k-atari-mint-gcc-gcc-??-mintelf-cross-stage1/
m68k-atari-mint-gcc-gcc-??-mintelf-cross-stage2-*/
mintbin-master-cross/
m68k-atari-mint-binutils-gdb-binutils-?_??-mintelf-atari-*/
m68k-atari-mint-gcc-gcc-??-mintelf-atari-*/
mintbin-master-atari-*/
binary-package/
