*.tar.bz2
*.tar.lz
*.tar.gz
*.patch.bz2

binutils-*
m68k-atari-mint-binutils-gdb-*/
gcc-*
m68k-atari-mint-gcc-*/
master.zip
mintlib-master
mintbin-CVS-????????/
pml-2.03/
binary-package/
gmp-*.*/
mpc-*.*
mpfr-*.*/

*.ok
